= te_navigation_bar({:url => user_photos_url, :caption => "Back", :html_options => {}}, @item.filename, {})
.image
  %a{:href => fullimage_url(@item)}
    %img{:src => largethumbnail_url(@item)}
  %p= "#{@item.exif_data[:width]}x#{@item.exif_data[:width]}"

.image
  %a{:href => latlng_map_link_url(@item)}
    %img{:src => latlng_map_url(@item)}

- @actions.each do |x|
  .whiteButton
    = link_to x.friendly_name, {:action => "invoke", :controller => "action", :name => x.class, :id => @item.id}

.redButton= link_to "Delete Photo", {:action => "destroy", :id => @item.id}, :confirm => "Are you sure?", :method => :delete
