!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    %title
    %meta{ :name => "viewport", :content => "width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }
    %meta{ :name => "apple-mobile-web-app-status-bar-style", :content => "black" }

    = javascript_include_tag :defaults
    = include_tank_engine_files
    = stylesheet_link_tag 'screen'
    = yield :jquery
    = javascript_include_tag "tank_engine"
  %body
    .viewport_body
      = yield :toolbar
      = yield
